<div class="screen">
  <div class="HEADER">
    <apolloheader></apolloheader>
  </div>

  <div class="BODY">
    <div class="LEFT" *ngIf="state.startsWith('I') || state == 'Dashboard' || state.startsWith('U')">
      <unitsidebar (unitClicked)="unitClicked($event)" (incidentClicked)="incidentClicked($event)" (attachClicked)="attachClicked($event)" [units]="units" [state]="state"></unitsidebar>
    </div>

    <ng-container *ngIf="state == 'NewIncident'">
      <div class="LEFT">
        <div class="spacetaker">
          Save Incident to View Units
        </div>
      </div>
      <div class="DASHBOARD">
        <div class="RIGHTNoScroll">
          <newincident (incidentClicked)="incidentClicked($event)"></newincident>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="state == 'NewUnit'">
      <div class="LEFT">
        <div class="spacetaker">
          Save Unit to Continue
        </div>
      </div>
      <div class="DASHBOARD">
        <div class="RIGHTNoScroll">
          <newunit (unitClicked)="unitClicked($event)"></newunit>
        </div>
      </div>
    </ng-container>



    <div *ngIf="state == 'Dashboard'" class="DASHBOARD">
      <div class="ManagementOptions" *ngIf="accessLevel > 1">
        Administrative Actions
        <button class="ManagementButton" [disabled]="accessLevel < 5" (click)="gotoUsers()">User Management</button>
        <button class="ManagementButton" [disabled]="accessLevel < 5" (click)="gotoSystem()">System Management</button>
      </div>
      <div class="RIGHT">
        <incidentsdashboard [incidents]="incidents" (incidentClicked)="incidentClicked($event)"></incidentsdashboard>
      </div>
      
    </div>


    <div *ngIf="state.startsWith('I')" class="DASHBOARD">
      <div class="RIGHTNoScroll">
        <incidentedit [incident]="incident" (incidentClicked)="incidentClicked($event)" [attachSubject]="attachSubject.asObservable()"></incidentedit>
      </div>
    </div>

    <div *ngIf="state.startsWith('U')" class="DASHBOARD">
      <div class="RIGHTNoScroll">
        <unitedit [unitListing]="unit" (unitClicked)="unitClicked($event)"></unitedit>
      </div>
    </div>
  </div>

  <div class="commandBar">
    <input type="text" id="CommandBar" class="commandBarInput" autocomplete="off" placeholder="Click here or press CTRL+E to enter commands" (keydown.enter)="submitCommand()" [(ngModel)]="command"/>
  </div>

</div>

