<div class="screen">
  <div class="HEADER">
    <apolloheader></apolloheader>
  </div>

  <div class="BODY">
    <div class="LEFT">
      <unitsidebar (unitClicked)="unitClicked($event)" (incidentClicked)="incidentClicked($event)" (attachClicked)="attachClicked($event)" [units]="units" [state]="state"></unitsidebar>
    </div>
    <div *ngIf="state == 'Dashboard'" class="DASHBOARD">
      <div class="RIGHT">
        <incidentsdashboard [incidents]="incidents" (incidentClicked)="incidentClicked($event)"></incidentsdashboard>
      </div>
    </div>
    <div *ngIf="state.startsWith('I')" class="DASHBOARD">
      <div class="RIGHTNoScroll">
        <incidentedit [incident]="incident" (incidentClicked)="incidentClicked($event)"></incidentedit>
      </div>
    </div>
  </div>

</div>

