<div class="IncidentEditContainer">

  <div class="Header">
    <div class="HeaderNumber">
      {{currIncident?.call_number}}
    </div>
    <div class="HeaderControls">
      <button class="DiscardButton" (click)="close()" *ngIf="!hasChanges">Close</button>
      <button class="DiscardButton" *ngIf="hasChanges">Discard</button>
      <button class="SaveButton" *ngIf="hasChanges && !hasOverwrites">Save</button>
      <button class="SaveButton" *ngIf="hasChanges && !hasOverwrites">Save and Close</button>
      <button class="ForceSaveButton" *ngIf="hasChanges && hasOverwrites">Force Save</button>
    </div>
  </div>

  <div class="InformationContainer" *ngIf="currIncident">

    <div class="leftInfo">
      <div class="labeledTextField">
        <div class="textFieldLabel">
          Municipal CAD Number
        </div>
        <input class="textField" type="text" [disabled]="isDispositioned" (input)="changed('alternate_cad')" [(ngModel)]="currIncident.alternate_cad" [ngClass]="{'warn': isChanged('alternate_cad'),'alert': irreconcilable('alternate_cad')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Address
        </div>
        <div class="dualField">
          <input class="textField" type="text" [disabled]="isDispositioned" (input)="changed('location')" [(ngModel)]="currIncident.location" [ngClass]="{'warn': isChanged('location'),'alert': irreconcilable('location')}" />
          <button [disabled]="isDispositioned" [ngClass]="{'checkAddressButton': !isDispositioned,'checkAddressButtonDisabled': isDispositioned}">Validate Address</button>
        </div>
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Apartment/Detailed Location
        </div>
        <input class="textField" type="text" [disabled]="isDispositioned" (input)="changed('unit_number')" [(ngModel)]="currIncident.unit_number" [ngClass]="{'warn': isChanged('unit_number'),'alert': irreconcilable('unit_number')}" />
      </div>
    </div>

    <div class="centerInfo">
      <div class="labeledTextField">
        <div class="textFieldLabel">
          Details
        </div>
        <input class="textField" type="text" [disabled]="isDispositioned" (input)="changed('call_details')" [(ngModel)]="currIncident.call_details" [ngClass]="{'warn': isChanged('call_details'),'alert': irreconcilable('call_details')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Reporting Party
        </div>
        <input class="textField" type="text" [disabled]="isDispositioned" (input)="changed('reporting_pty')" [(ngModel)]="currIncident.reporting_pty" [ngClass]="{'warn': isChanged('reporting_pty'),'alert': irreconcilable('reporting_pty')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Callback Number
        </div>
        <input class="textField" type="text" [disabled]="isDispositioned" (input)="changed('contact_at')" [(ngModel)]="currIncident.contact_at" [ngClass]="{'warn': isChanged('contact_at'),'alert': irreconcilable('contact_at')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Call Type
        </div>
        <ng-container *ngIf="currIncident">
          <select [disabled]="isDispositioned" (input)="changed('call_type', $event)" [(ngModel)]="currIncident.call_type" [ngClass]="{'warn': isChanged('call_type'),'alert': irreconcilable('call_type')}">
            <option value="null">Not Selected</option>
            <option *ngFor="let type of incTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </ng-container>
      </div>
    </div>

    <div class="rightInfo">

      <div class="timeHolder">
        <div class="timeModule">
          <div class="timeLabel">
            Opened
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ openedTS }}
          </div>
        </div>

        <div class="timeModule">
          <div class="timeLabel">
            Dispatched
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ dispatchedTS }}
          </div>
        </div>

        <div class="timeModule">
          <div class="timeLabel">
            First O/S
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ osTS }}
          </div>
        </div>

        <div class="timeModule">
          <div class="timeLabel">
            Closed
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ clTS }}
          </div>
        </div>

      </div>



      <div class="labeledTextField">
        <div class="textFieldLabel">
          Disposition
        </div>
        <ng-container *ngIf="currIncident && attachedUnits.length == 0">
          <select [disabled]="isDispositioned" (input)="changed('disposition', $event)" [(ngModel)]="currIncident.disposition" [ngClass]="{'warn': isChanged('disposition'),'alert': irreconcilable('disposition')}">
            <option [value]="null">Not Selected</option>
            <option *ngFor="let type of dispTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </ng-container>
        <div class="ReleaseUnits" *ngIf="currIncident && attachedUnits.length != 0">
          Release Units to set Disposition
        </div>
      </div>
    </div>





  </div>
  <div>
    curr: {{currIncident?.location}}
  </div>
  <div>
    old: {{incident?.location}}
  </div>

  <div *ngFor="let u of attachedUnits">
    {{u.unit}}
  </div>
  <div>--</div>
  <div *ngFor="let u of clearedUnits">
    {{u.unit}}
  </div>
