<div class="IncidentEditContainer">

  <div class="Header">
    <div class="HeaderNumber">
      {{currIncident?.call_number}}
    </div>
    <div class="HeaderControls">
      <button class="DiscardButton" (click)="close()" *ngIf="!hasChanges">Close</button>
      <button class="DiscardButton" (click)="close()" *ngIf="hasChanges">Discard and Close</button>
      <button class="SaveButton" (click)="save()" *ngIf="hasChanges && !hasOverwrites">Save</button>
      <button class="SaveButton" *ngIf="hasChanges && !hasOverwrites" (click)="saveClose()">Save and Close</button>
      <button class="ForceSaveButton" (click)="forceSave()" *ngIf="hasChanges && hasOverwrites">Force Save</button>
    </div>
  </div>

  <div class="InformationContainer" *ngIf="currIncident">

    <div class="leftInfo">
      <div class="labeledTextField">
        <div class="textFieldLabel">
          Municipal CAD Number
        </div>
        <input class="textField" autocomplete="off" type="text" [disabled]="isDispositioned" (input)="changed('alternate_cad')" [(ngModel)]="currIncident.alternate_cad" [ngClass]="{'warn': isChanged('alternate_cad'),'alert': irreconcilable('alternate_cad')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Address
        </div>
        <div class="dualField">
          <input class="textField" autocomplete="off" type="text" [disabled]="isDispositioned" (input)="changed('location')" [(ngModel)]="currIncident.location" [ngClass]="{'warn': isChanged('location'),'alert': irreconcilable('location')}" />
          <button (click)="googleTheAddress()" [disabled]="isDispositioned" [ngClass]="{'checkAddressButton': !isDispositioned,'checkAddressButtonDisabled': isDispositioned}" tabindex="-1">Validate Address (CTRL+G)</button>
        </div>
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Apartment/Detailed Location
        </div>
        <input class="textField" autocomplete="off" type="text" [disabled]="isDispositioned" (input)="changed('unit_number')" [(ngModel)]="currIncident.unit_number" [ngClass]="{'warn': isChanged('unit_number'),'alert': irreconcilable('unit_number')}" />
      </div>
    </div>

    <div class="centerInfo">
      <div class="labeledTextField">
        <div class="textFieldLabel">
          Details
        </div>
        <input class="textField" autocomplete="off" type="text" [disabled]="isDispositioned" (input)="changed('call_details')" [(ngModel)]="currIncident.call_details" [ngClass]="{'warn': isChanged('call_details'),'alert': irreconcilable('call_details')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Reporting Party
        </div>
        <input class="textField" autocomplete="off" type="text" [disabled]="isDispositioned" (input)="changed('reporting_pty')" [(ngModel)]="currIncident.reporting_pty" [ngClass]="{'warn': isChanged('reporting_pty'),'alert': irreconcilable('reporting_pty')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Callback Number
        </div>
        <input class="textField" autocomplete="off" type="text" [disabled]="isDispositioned" (input)="changed('contact_at')" [(ngModel)]="currIncident.contact_at" [ngClass]="{'warn': isChanged('contact_at'),'alert': irreconcilable('contact_at')}" />
      </div>

      <div class="labeledTextField">
        <div class="textFieldLabel">
          Call Type
        </div>
        <ng-container *ngIf="currIncident">
          <select [disabled]="isDispositioned" tabindex="-1" (input)="changed('call_type', $event)" [(ngModel)]="currIncident.call_type" [ngClass]="{'warn': isChanged('call_type'),'alert': irreconcilable('call_type')}">
            <option [ngValue]="null">Not Selected</option>
            <option *ngFor="let type of incTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </ng-container>
      </div>
    </div>

    <div class="rightInfo">

      <div class="timeHolder">
        <div class="timeModule">
          <div class="timeLabel">
            Opened
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ openedTS }}
          </div>
        </div>

        <div class="timeModule">
          <div class="timeLabel">
            Dispatched
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ dispatchedTS }}
          </div>
        </div>

        <div class="timeModule">
          <div class="timeLabel">
            First O/S
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ osTS }}
          </div>
        </div>

        <div class="timeModule">
          <div class="timeLabel">
            Closed
          </div>
          <div class="timeDisplay" *ngIf="currIncident">
            {{ clTS }}
          </div>
        </div>

      </div>



      <div class="labeledTextField">
        <div class="textFieldLabel">
          Disposition
        </div>
        <ng-container *ngIf="currIncident && attachedUnits.length == 0">
          <select tabindex="-1" [disabled]="isDispositioned && (incident?.disposition != null && incident?.disposition != '')" (input)="changed('disposition', $event)" [(ngModel)]="currIncident.disposition" [ngClass]="{'warn': isChanged('disposition'),'alert': irreconcilable('disposition')}">
            <option [ngValue]="null">Not Selected</option>
            <option *ngFor="let type of dispTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </ng-container>
        <div class="ReleaseUnits" *ngIf="currIncident && attachedUnits.length != 0">
          Release Units to set Disposition
        </div>
      </div>
    </div>
  </div>

  

  <div class="BottomFlexContainer">
    <div class="BottomContainer">

      <div class="NotesOutterContainer">
        <div class="NotesContainer">
          <div class="NotesHeader">
            Incident Log
          </div>
          <div class="NotesForm" *ngIf="!isDispositioned">
            <input type="text" [(ngModel)]="noteInput" (keydown.enter)="postMessage()" placeholder="Click here or press CTRL+D" id="loginput" autocomplete="off"/>
            <button class="NotesSubmit" (click)="postMessage()">POST</button>
          </div>
          <div *ngIf="!isDispositioned && noteInput.startsWith('/')" class="autoCompleteContainer">
            <div *ngFor="let autocomplete of shorthands | keyvalue" class="autoCompleteElement" (click)="applyShorthand(autocomplete.key)">
              {{autocomplete.key}} : {{autocomplete.value}}
            </div>
          </div>
          
          <div class="Notes">
            <div *ngFor="let note of filteredNotes" class="Note">
              <div class="NoteContent">
                {{note.message}}
              </div>
              <div *ngIf="note.unit && note.unit != ''" class="NoteUnit">
                {{note.unit}}
              </div>
              <div class="NoteMeta">
                {{note.creator}} - {{note.ts | date:'short'}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="UnitsOutterContainer">
        <div class="UnitsContainer">
          <div class="NotesHeader">
            Attached Units
          </div>

          <div class="Units Current">
            <div class="UnitsHeader">
              <div class="UnitsHeaderElement">
                Unit
              </div>
              <div class="UnitsHeaderElement">
                <div class="UnitsHeaderTSElement">
                  DISP
                </div>
                <div class="UnitsHeaderTSElement">
                  O/S
                </div>
                <div class="UnitsHeaderTSElement">
                  ENR
                </div>
                <div class="UnitsHeaderTSElement">
                  ARR
                </div>
                <div class="UnitsHeaderTSElement">
                  CLR
                </div>
              </div>
            </div>

            <div *ngFor="let unit of attachedUnits; trackBy: trackAttachment" class="UnitAttached">
              <div class="UnitAttachedName" style="color:{{unit.color}}">
                {{unit.unit}}
              </div>
              <div class="UnitAttachedControls">

                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS">{{getFormattedTS(unit.dispatch_time)}}</div>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS" *ngIf="unit.arrival_time">{{getFormattedTS(unit.arrival_time)}}</div>
                  <button class="UnitAttachedControlButton" *ngIf="!unit.arrival_time && unit.attachmentID != '-1'" (click)="OS(unit)">O/S</button>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS" *ngIf="unit.transport_time">{{getFormattedTS(unit.transport_time)}}</div>
                  <button class="UnitAttachedControlButton" *ngIf="!unit.transport_time && unit.attachmentID != '-1'" (click)="ENR(unit)">ENR</button>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS" *ngIf="unit.transportdone_time">{{getFormattedTS(unit.transportdone_time)}}</div>
                  <button class="UnitAttachedControlButton" *ngIf="!unit.transportdone_time && unit.attachmentID != '-1'" (click)="ARR(unit)">ARR</button>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS" *ngIf="unit.cleared_time">{{getFormattedTS(unit.cleared_time)}}</div>
                  <button class="UnitAttachedControlButton" *ngIf="!unit.cleared_time && unit.attachmentID != '-1'" (click)="CLR(unit)">CLR</button>
                </div>


              </div>
            </div>
          </div>

          <div class="NotesHeader">
            Previously Attached Units
          </div>

          <div class="Units Previous">
            <div class="UnitsHeader">
              <div class="UnitsHeaderElement">
                Unit
              </div>
              <div class="UnitsHeaderElement">
                <div class="UnitsHeaderTSElement">
                  DISP
                </div>
                <div class="UnitsHeaderTSElement">
                  O/S
                </div>
                <div class="UnitsHeaderTSElement">
                  ENR
                </div>
                <div class="UnitsHeaderTSElement">
                  ARR
                </div>
                <div class="UnitsHeaderTSElement">
                  CLR
                </div>
              </div>
            </div>

            <div *ngFor="let unit of clearedUnits; trackBy: trackAttachment" class="UnitAttached">
              <div class="UnitAttachedName" style="color:{{unit.color}}">
                {{unit.unit}}
              </div>
              <div class="UnitAttachedControls">

                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS">{{getFormattedTS(unit.dispatch_time)}}</div>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS">{{getFormattedTS(unit.arrival_time)}}</div>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS">{{getFormattedTS(unit.transport_time)}}</div>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS">{{getFormattedTS(unit.transportdone_time)}}</div>
                </div>
                <div class="UnitAttachedControl">
                  <div class="UnitAttachedTS">{{getFormattedTS(unit.cleared_time)}}</div>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  

  <!--
  <div>
    curr: {{currIncident?.location}}
  </div>
  <div>
    old: {{incident?.location}}
  </div>

  <div *ngFor="let u of attachedUnits">
    {{u.unit}}
  </div>
  <div>--</div>
  <div *ngFor="let u of clearedUnits">
    {{u.unit}}
  </div>
    -->
