<div class="loginBox">
  <div class="boxHeader">
    APOLLO&nbsp;CAD
  </div>
  <div class="boxBody">
    <div class="formElement">
      <div class="formLabel">
        System Address
      </div>
      <div class="formInput">
        <input type="text" placeholder="System Address" />
      </div>
    </div>
    <div class="formElement">
      <div class="formLabel">
        Username
      </div>
      <span class="formInput">
        <input type="text" placeholder="Username" />
      </span>
    </div>
    <div class="formElement">
      <div class="formLabel">
        Password
      </div>
      <span class="formInput">
        <input type="password" placeholder="Password" />
      </span>
    </div>
    <div class="formElement">
      <span class="formInputButton">
        <button class="formButton">Log in</button>
        <button class="formButtonTransfer">Transfer to MDT</button>
      </span>
    </div>
    <div class="formResponse">
      <span class="formResponse">
        &nbsp;
      </span>
    </div>
  </div>
</div>
