<div class="loginBox">
  <div class="boxHeader">
    APOLLO&nbsp;CAD
  </div>
  <div class="boxBody">
    <div class="formElement">
      <div class="formLabel">
        System Address
      </div>
      <div class="formInput">
        <input type="text" placeholder="System Address" [(ngModel)]="sysadd" />
      </div>
    </div>
    <div class="formElement">
      <div class="formLabel">
        Username
      </div>
      <span class="formInput">
        <input type="text" placeholder="Username" [(ngModel)]="username" />
      </span>
    </div>
    <div class="formElement">
      <div class="formLabel">
        Password
      </div>
      <span class="formInput">
        <input type="password" placeholder="Password" [(ngModel)]="password" />
      </span>
    </div>
    <div class="formElement">
      <span class="formInputButton">
        <button class="formButton" (click)="login()">Log in</button>
        <button class="formButtonTransfer">MDT Log in</button>
      </span>
    </div>
    <div class="formResponse">
      <span class="formResponse {{netResponseType}}">
        &nbsp;{{netResponse}}
      </span>
    </div>
  </div>
</div>
