<div class="UnitSideBarContainer">
  <div class="UnitSideBarInServiceContainer">
    <div class="UnitSideBarInServiceHeader">
      AVAILABLE UNITS
    </div>
    <div class="UnitSideBarInServiceUnits">


      <div *ngFor="let unit of inServiceIndividual">

        <!--Weeeeeee a comment!-->

        <div *ngIf="unit.status == 'In Service'">
          <div class="UnitInService" (click)="clicked(unit.unit)">
            <div class="UnitInServiceName">
              {{unit.unit}}
            </div>
            <div class="UnitInServiceDescription">
              Available
            </div>
            <div class="UnitInServiceDescription">
              <button class="BusyButton" (click)="busy(unit.unit); $event.stopPropagation()">Busy</button>
              <button class="OOSButton"  (click)="outService(unit.unit); $event.stopPropagation()">Unavailable</button>
            </div>
          </div>
        </div>

        <div *ngIf="unit.status == 'Busy'">
          <div class="UnitBusy" (click)="clicked(unit.unit)">
            <div class="UnitInServiceName">
              {{unit.unit}}
            </div>
            <div class="UnitInServiceDescription">
              Busy
            </div>
            <div class="UnitInServiceDescription">
              <button class="ISButton" (click)="inService(unit.unit); $event.stopPropagation()">In Service</button>
              <button class="OOSButton"(click)="outService(unit.unit); $event.stopPropagation()">Unavailable</button>
            </div>
          </div>
        </div>

        <div *ngIf="unit.status == 'Attached to Incident'">
          <div class="UnitAttached" (click)="clicked(unit.unit)">
            <div class="UnitInServiceName">
              {{unit.unit}}
            </div>
            <div class="UnitInServiceDescription">
              Attached
            </div>
            <div class="UnitInServiceDescription">
              <button class="attachmentButton">{{unit.attachment}} -></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="UnitSideBarOutServiceContainer">
    <div class="UnitSideBarOutServiceHeader">
      UNAVAILABLE UNITS
    </div>

    <div *ngFor="let unit of outServiceIndividual">

      <div class="UnitSideBarOutServiceUnits">
          <div class="UnitOutService" (click)="clicked(unit.unit)">
            <div class="UnitOutServiceName">
              {{unit.unit}}
            </div>
            <div class="UnitOutServiceDescription">
              Unavailable
            </div>
            <div class="UnitOutServiceDescription">
              <button class="ISButton" (click)="inService(unit.unit); $event.stopPropagation()">Available</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
